<html>

<head>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/aoclb.css">
    <title>Aobongba.net</title>
</head>

<body>
    <div class="main">
        <header class="header">

            <div class="logo">
                <a href="#"><img src="../img/logo.png" alt=""></a>
            </div>
            <div class="infor">
                <div class="hotline">
                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0989.248.853</b></a>
                    </div>
                </div>
                <div class="hotline">

                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0943.039.054</b></a>
                    </div>
                </div>
                <div class="timkiem">
                    <input type="text" placeholder="Tìm kiếm" size="60px">
                    <button>Tìm kiếm</button>
                </div>
            </div>
        </header>
        <div class="nav">
            <p>
                <a href="../index.html">Trang chủ</a> |
                <a href="./aotqg.html">Áo tuyển quốc gia</a> |
                <a href="./aotqg.html">Áo câu lạc bộ</a> |
                <a href="./giay.html">Giày đá bóng</a> |
                <a href="./gangtay.html">Giăng tay thủ môn</a> 
            </p>
        </div>
        <div class="container">
            <h1>Quần áo câu lạc bộ 2022 đẹp & mới nhất</h1>
        </div>
        <div class="about">
            <div class="begin">
                <p><strong class="danhdau1">Aobongda.net</strong> cung cấp đầy đủ các mẫu <strong class="danhdau2">quần
                        áo câu lạc bộ</strong> 2022 BỀN - ĐẸP - RẺ nhất thị trường</p>
            </div>
            <div class="list">
                <ul class="list-item">
                    <i>
                        <li>Quần áo câu lạc bộ rẻ đẹp</li>
                        <li>Áo câu lạc bộ 2022</li>
                        <li>Áo thi đấu các câu lạc bộ 2022</li>
                        <li>Áo các câu lạc bộ bóng đá 2022</li>
                    </i>
                </ul>
            </div>
            <div class="end">
                <p>Quà tặng hấp dẫn chỉ có ở <strong class="danhdau1">Aobongda.net</strong>: <mark>Đặt áo câu lạc bộ cho
                        đội tặng ngay bóng 300K+ 2 bộ quần áo 120k + phiếu mua hàng 200k.</mark></p>
            </div>
        </div>
        <div class="tuvan">
            <div class="begin">
                <h1>Tư vấn chọn size áo câu lạc bộ 2022</h1>
            </div>
            <div class="sizechaua">
                <div class="name">
                    <h2>Bảng size Áo câu lạc bộ cho châu Á</h2>
                </div>
                <div class="tablesize">
                    <div class="col">
                        <div class="item">
                            <h2>Size Châu Á</h2>
                        </div>
                        <div class="item">
                            <h2>Cân nặng</h2>
                        </div>
                        <div class="item">
                            <h2>Chiều cao</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>M</h2>
                        </div>
                        <div class="item">
                            <h2>40 - 60 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m50 - 1m65</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>L</h2>
                        </div>
                        <div class="item">
                            <h2>60 - 70 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m65 - 1m72</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>XL</h2>
                        </div>
                        <div class="item">
                            <h2>70 - 80 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m73 - 1m80</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>Không có sẵn</h2>
                        </div>
                        <div class="item">
                            <h2>80 - 90 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m80 - 1m90</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sizechauau">
                <div class="name">
                    <h2>Bảng size Áo câu lạc bộ cho châu Âu</h2>
                </div>
                <div class="tablesize">
                    <div class="col">
                        <div class="item">
                            <h2>Size Châu Âu</h2>
                        </div>
                        <div class="item">
                            <h2>Cân nặng</h2>
                        </div>
                        <div class="item">
                            <h2>Chiều cao</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>S</h2>
                        </div>
                        <div class="item">
                            <h2>55 - 64 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m55 - 1m67</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>M</h2>
                        </div>
                        <div class="item">
                            <h2>65 - 74 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m67 - 1m75</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>L</h2>
                        </div>
                        <div class="item">
                            <h2>75 - 84 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m75 - 1m80</h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <h2>XL</h2>
                        </div>
                        <div class="item">
                            <h2>85 - 95 kg</h2>
                        </div>
                        <div class="item">
                            <h2>1m80 - 1m85</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img1.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Dortmund vàng 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img3.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB PSG trắng 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img4.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo LA Galaxy trắng 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img5.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Chelsea 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img6.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Bayern đỏ 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img7.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB MC xanh trắng 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img8.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Chelsea xanh đen 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img9.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Bayern đen xám 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img10.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB PSG đen xám 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img11.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Real Marid ngọc 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img12.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Leicester xanh 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
            <div class="cot">
                <div class="anh">
                    <img src="../img/aoclb/img13.jpg" alt="">
                </div>
                <div class="gioithieu">
                    <a href="#">Áo CLB Liverpool bích cam 2022</a>
                </div>
                <div class="gia">
                    <p><strong>80.000đ</strong> (Hàng thun lạnh)</p>
                    <p><strong>120.000đ</strong> (Hàng thun co giãn)</p>
                    <p><strong>160.000đ</strong> (Hàng mè caro)</p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="tieude">
                <h1>Hệ thống 12 cửa hàng aobongda.net</h1>
            </div>
            <div class="table_hn">
                <div class="name">
                    <h2>Hà Nội (9)</h2>
                </div>
                <div class="list list_1">
                    <div class="layout list1_1">
                        <h3>Showroom 2</h3>
                        <ul>
                            <li>Số 139, Phan Bá Vành (K3 cũ), Cầu Diễn, Từ Liêm, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 5</h3>
                        <ul>
                            <li>Số 28, Đường Khương Thượng (cạnh ĐH Thủy Lợi), Đống Đa, Hà Nội</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 8</h3>
                        <ul>
                            <li>Số 44, Trần Đại Nghĩa, Hai Bà Trưng (cạnh ngã tư Lê Thanh Nghị - Trần Đại Nghĩa)</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                </div>
                <div class="list list_2">
                    <div class="layout list1_1">
                        <h3>Showroom 3</h3>
                        <ul>
                            <li>Số 21, Đường G, ĐH Nông nghiệp, Gia Lâm, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 6</h3>
                        <ul>
                            <li>Số 53, Đường Cầu Giấy, Cầu Giấy, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 18</h3>
                        <ul>
                            <li>Số 31, Mai Dịch, Cầu Giấy, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                </div>
                <div class="list list_3">
                    <div class="layout list1_1">
                        <h3>Showroom 4</h3>
                        <ul>
                            <li>Đối diện số 48 Đường An Hòa, Đối diện HV An Ninh, Hà Đông, Hà Nội</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 7</h3>
                        <ul>
                            <li>Số 67, Đường Trần Đại Nghĩa, ĐH Bách Khoa HN, Hai Bà Trưng, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 19</h3>
                        <ul>
                            <li>Số 31, Nguyễn Sơn, Long Biên, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table_hcm">
                <div class="name">
                    <h2>Hồ Chí Minh (3)</h2>
                </div>
                <div class="list_hcm">
                    <div class="layout item1">
                        <h3>Showroom 11</h3>
                        <ul>
                            <li>Số 54, Bắc Hải, Phường 6, Quận Tân Bình , TP Hồ Chí Minh</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout item1">
                        <h3>Showroom 12</h3>
                        <ul>
                            <li>Số 441/62 , Điện Biên Phủ, P 25, Quận Bình Thạnh , Tp Hồ Chí Minh</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout item1">
                        <h3>Showroom 20</h3>
                        <ul>
                            <li>Số 500, Phan Văn Trị, Phường 7, Quận Gò Vấp, Thành Phố Hồ Chí Minh</li>
                            <li>Hotline:<b>0902125389</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.522739940213!2d105.76915261424571!3d21.05177409236975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454d06f2f475f%3A0xff4f14a959dd040!2zQ-G7rWEgSMOgbmcgQW9ib25nZGEuTmV0!5e0!3m2!1sen!2s!4v1648729377432!5m2!1sen!2s"
                width="100%" height="800" style="border:0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </footer>
    </div>
</body>

</html>