<html>

<head>
    <link rel="stylesheet" href="../css/gangtay.css">
    <title>Aobongba.net</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
</head>

<body>
    <div class="main">
        <header class="header">

            <div class="logo">
                <a href="#"><img src="../img/logo.png" alt=""></a>
            </div>
            <div class="infor">
                <div class="hotline">
                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0989.248.853</b></a>
                    </div>
                </div>
                <div class="hotline">
                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0943.039.054</b></a>
                    </div>
                </div>
                <div class="timkiem">
                    <input type="text" placeholder="Tìm kiếm" size="60px">
                    <button>Tìm kiếm</button>
                </div>
            </div>
        </header>
        <div class="nav">
            <p>
                <a href="../index.html">Trang chủ</a> |
                <a href="./aotqg.html">Áo tuyển quốc gia</a> |
                <a href="./aotqg.html">Áo câu lạc bộ</a> |
                <a href="./giay.html">Giày đá bóng</a> |
                <a href="./gangtay.html">Giăng tay thủ môn</a>
            </p>
        </div>
        <div class="container">
            <h1>Găng tay thủ môn xịn và rẻ nhất 2022</h1>
        </div>
        <div class="content">
            <div class="tieude">
                <img src="../img/gangtay/banner/banner-6.jpg" alt="">
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img1.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn H3 ROBO Đỏ</p>
                </div>
                <div class="gia">
                    <p><strong>500.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img2.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn H3 ROBO Cam</p>
                </div>
                <div class="gia">
                    <p><strong>500.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img3.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn H3 ROBO Xanh Lá Cây</p>
                </div>
                <div class="gia">
                    <p><strong>500.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img4.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn H3 ROBO Xanh Da Trời</p>
                </div>
                <div class="gia">
                    <p><strong>500.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="tieude">
                <img src="../img/gangtay/banner/banner-4.jpg" alt="">
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img5.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn Predator Xanh Đen</p>
                </div>
                <div class="gia">
                    <p><strong>400.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img6.jpg" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn Predator Hồng Đen</p>
                </div>
                <div class="gia">
                    <p><strong>400.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img8.png" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn Predator Cam Đen</p>
                </div>
                <div class="gia">
                    <p><strong>400.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>
            <div class="sanpham">
                <div class="anh">
                    <img src="../img/gangtay/sanpham/img7.png" alt="">
                </div>
                <div class="ten">
                    <p>Găng Tay Thủ Môn Predator Xanh Lá Cây</p>
                </div>
                <div class="gia">
                    <p><strong>400.00đ</strong> (Hàng chính hãng)</p>
                </div>
            </div>

        </div>
        <div class="content">
        </div>
        <footer class="footer">
            <div class="tieude">
                <h1>Hệ thống 12 cửa hàng aobongda.net</h1>
            </div>
            <div class="table_hn">
                <div class="name">
                    <h2>Hà Nội (9)</h2>
                </div>
                <div class="list list_1">
                    <div class="layout list1_1">
                        <h3>Showroom 2</h3>
                        <ul>
                            <li>Số 139, Phan Bá Vành (K3 cũ), Cầu Diễn, Từ Liêm, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 5</h3>
                        <ul>
                            <li>Số 28, Đường Khương Thượng (cạnh ĐH Thủy Lợi), Đống Đa, Hà Nội</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 8</h3>
                        <ul>
                            <li>Số 44, Trần Đại Nghĩa, Hai Bà Trưng (cạnh ngã tư Lê Thanh Nghị - Trần Đại Nghĩa)</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                </div>
                <div class="list list_2">
                    <div class="layout list1_1">
                        <h3>Showroom 3</h3>
                        <ul>
                            <li>Số 21, Đường G, ĐH Nông nghiệp, Gia Lâm, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 6</h3>
                        <ul>
                            <li>Số 53, Đường Cầu Giấy, Cầu Giấy, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 18</h3>
                        <ul>
                            <li>Số 31, Mai Dịch, Cầu Giấy, Hà Nội</li>
                            <li>Hotline:<b>0989 248 835</b></li>
                        </ul>
                    </div>
                </div>
                <div class="list list_3">
                    <div class="layout list1_1">
                        <h3>Showroom 4</h3>
                        <ul>
                            <li>Đối diện số 48 Đường An Hòa, Đối diện HV An Ninh, Hà Đông, Hà Nội</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 7</h3>
                        <ul>
                            <li>Số 67, Đường Trần Đại Nghĩa, ĐH Bách Khoa HN, Hai Bà Trưng, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                    <div class="layout list1_1">
                        <h3>Showroom 19</h3>
                        <ul>
                            <li>Số 31, Nguyễn Sơn, Long Biên, Hà Nội</li>
                            <li>Hotline:<b>0943 039 054</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table_hcm">
                <div class="name">
                    <h2>Hồ Chí Minh (3)</h2>
                </div>
                <div class="list_hcm">
                    <div class="layout item1">
                        <h3>Showroom 11</h3>
                        <ul>
                            <li>Số 54, Bắc Hải, Phường 6, Quận Tân Bình , TP Hồ Chí Minh</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout item1">
                        <h3>Showroom 12</h3>
                        <ul>
                            <li>Số 441/62 , Điện Biên Phủ, P 25, Quận Bình Thạnh , Tp Hồ Chí Minh</li>
                            <li>Hotline:<b>0902 125 389</b></li>
                        </ul>
                    </div>
                    <div class="layout item1">
                        <h3>Showroom 20</h3>
                        <ul>
                            <li>Số 500, Phan Văn Trị, Phường 7, Quận Gò Vấp, Thành Phố Hồ Chí Minh</li>
                            <li>Hotline:<b>0902125389</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.522739940213!2d105.76915261424571!3d21.05177409236975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454d06f2f475f%3A0xff4f14a959dd040!2zQ-G7rWEgSMOgbmcgQW9ib25nZGEuTmV0!5e0!3m2!1sen!2s!4v1648729377432!5m2!1sen!2s"
                width="100%" height="800" style="border:0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </footer>
    </div>
</body>

</html>