<html>

<head>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/giay.css">
    <title>Aobongba.net</title>
</head>

<body>
    <div class="main">
        <header class="header">

            <div class="logo">
                <a href="#"><img src="../img/logo.png" alt=""></a>
            </div>
            <div class="infor">
                <div class="hotline">
                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0989.248.853</b></a>
                    </div>
                </div>
                <div class="hotline">

                    <div class="ten">
                        <h3>Hotline</h3>
                    </div>
                    <div class="sdt">
                        <a href="#"><b>0943.039.054</b></a>
                    </div>
                </div>
                <div class="timkiem">
                    <input type="text" placeholder="Tìm kiếm" size="60px">
                    <button>Tìm kiếm</button>
                </div>
            </div>
        </header>
        <div class="nav">
            <p>
                <a href="../index.html">Trang chủ</a> |
                <a href="./aotqg.html">Áo tuyển quốc gia</a> |
                <a href="./aotqg.html">Áo câu lạc bộ</a> |
                <a href="./giay.html">Giày đá bóng</a> |
                <a href="./gangtay.html">Giăng tay thủ môn</a>
            </p>
        </div>
        <div class="container">
            <h1>Giày đá bóng đẹp nhất 2022</h1>
        </div>
    </div>
    <div class="tuvan">
        <div class="bang">
            <div class="hang hang-1">
                <h1>Hướng dẫn chọn size giày đá bóng</h1>
            </div>
            <div class="hang hang-2">
                <div class="cot">
                    <h2>Chiều dài bàn chân (cm)</h2>
                </div>
                <div class="cot">
                    <h2>Size</h2>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>24.0 - 24.9</h3>
                </div>
                <div class="cot">
                    <h3>39</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>24.0 - 25.6</h3>
                </div>
                <div class="cot">
                    <h3>40</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>25.0 - 26.5</h3>
                </div>
                <div class="cot">
                    <h3>41</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>26.6 - 27.0</h3>
                </div>
                <div class="cot">
                    <h3>42</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>27.1 - 28.0</h3>
                </div>
                <div class="cot">
                    <h3>43</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>28.1 - 28.5</h3>
                </div>
                <div class="cot">
                    <h3>44</h3>
                </div>
            </div>
            <div class="hang">
                <div class="cot">
                    <h3>> 28.5</h3>
                </div>
                <div class="cot">
                    <h3>-</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="begin">
            <div class="tieude">
                <h1>Giày Wika</h1>
            </div>
            <div class="banner">
                <img src="../img/giaydabong/cp10.jpg" alt="">
            </div>
        </div>
        <div class="video">
            <video width="100%" height="100%" controls>
                <source
                    src="../video/giay_wika/[ĐÁNH GIÁ TRÊN CHÂN] WIKA CP10 - MẪU GIÀY TRÊN CHÂN NGUYỄN CÔNG PHƯỢNG.mp4">
            </video>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-1.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Công Phượng CP10 Collection Xanh Bạc</p>
            </div>
            <div class="gia">
                <p><strong>469.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-3.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Công Phượng CP10 Collection Xám Xanh</p>
            </div>
            <div class="gia">
                <p><strong>469.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-4.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Công Phượng CP10 Collection Bạc Cam</p>
            </div>
            <div class="gia">
                <p><strong>469.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-2.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Quang Hải QH19 Xanh Navy</p>
            </div>
            <div class="gia">
                <p><strong>420.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-5.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Quang Hải QH19 Neo Hồng</p>
            </div>
            <div class="gia">
                <p><strong>420.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>
        <div class="sanpham">
            <div class="anh">
                <img src="../img/giaydabong/giay-wika/img-6.jpg" alt="">
            </div>
            <div class="ten">
                <p>Giày Bóng Đá Wika Quang Hải QH19 Neo Xanh</p>
            </div>
            <div class="gia">
                <p><strong>420.000đ</strong> (Hàng chính hãng)</p>
            </div>
        </div>

    </div>
    <div class="content">
    </div>
    <footer class="footer">
        <div class="tieude">
            <h1>Hệ thống 12 cửa hàng aobongda.net</h1>
        </div>
        <div class="table_hn">
            <div class="name">
                <h2>Hà Nội (9)</h2>
            </div>
            <div class="list list_1">
                <div class="layout list1_1">
                    <h3>Showroom 2</h3>
                    <ul>
                        <li>Số 139, Phan Bá Vành (K3 cũ), Cầu Diễn, Từ Liêm, Hà Nội</li>
                        <li>Hotline:<b>0943 039 054</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 5</h3>
                    <ul>
                        <li>Số 28, Đường Khương Thượng (cạnh ĐH Thủy Lợi), Đống Đa, Hà Nội</li>
                        <li>Hotline:<b>0902 125 389</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 8</h3>
                    <ul>
                        <li>Số 44, Trần Đại Nghĩa, Hai Bà Trưng (cạnh ngã tư Lê Thanh Nghị - Trần Đại Nghĩa)</li>
                        <li>Hotline:<b>0989 248 835</b></li>
                    </ul>
                </div>
            </div>
            <div class="list list_2">
                <div class="layout list1_1">
                    <h3>Showroom 3</h3>
                    <ul>
                        <li>Số 21, Đường G, ĐH Nông nghiệp, Gia Lâm, Hà Nội</li>
                        <li>Hotline:<b>0989 248 835</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 6</h3>
                    <ul>
                        <li>Số 53, Đường Cầu Giấy, Cầu Giấy, Hà Nội</li>
                        <li>Hotline:<b>0989 248 835</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 18</h3>
                    <ul>
                        <li>Số 31, Mai Dịch, Cầu Giấy, Hà Nội</li>
                        <li>Hotline:<b>0989 248 835</b></li>
                    </ul>
                </div>
            </div>
            <div class="list list_3">
                <div class="layout list1_1">
                    <h3>Showroom 4</h3>
                    <ul>
                        <li>Đối diện số 48 Đường An Hòa, Đối diện HV An Ninh, Hà Đông, Hà Nội</li>
                        <li>Hotline:<b>0902 125 389</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 7</h3>
                    <ul>
                        <li>Số 67, Đường Trần Đại Nghĩa, ĐH Bách Khoa HN, Hai Bà Trưng, Hà Nội</li>
                        <li>Hotline:<b>0943 039 054</b></li>
                    </ul>
                </div>
                <div class="layout list1_1">
                    <h3>Showroom 19</h3>
                    <ul>
                        <li>Số 31, Nguyễn Sơn, Long Biên, Hà Nội</li>
                        <li>Hotline:<b>0943 039 054</b></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table_hcm">
            <div class="name">
                <h2>Hồ Chí Minh (3)</h2>
            </div>
            <div class="list_hcm">
                <div class="layout item1">
                    <h3>Showroom 11</h3>
                    <ul>
                        <li>Số 54, Bắc Hải, Phường 6, Quận Tân Bình , TP Hồ Chí Minh</li>
                        <li>Hotline:<b>0902 125 389</b></li>
                    </ul>
                </div>
                <div class="layout item1">
                    <h3>Showroom 12</h3>
                    <ul>
                        <li>Số 441/62 , Điện Biên Phủ, P 25, Quận Bình Thạnh , Tp Hồ Chí Minh</li>
                        <li>Hotline:<b>0902 125 389</b></li>
                    </ul>
                </div>
                <div class="layout item1">
                    <h3>Showroom 20</h3>
                    <ul>
                        <li>Số 500, Phan Văn Trị, Phường 7, Quận Gò Vấp, Thành Phố Hồ Chí Minh</li>
                        <li>Hotline:<b>0902125389</b></li>
                    </ul>
                </div>
            </div>
        </div>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.522739940213!2d105.76915261424571!3d21.05177409236975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454d06f2f475f%3A0xff4f14a959dd040!2zQ-G7rWEgSMOgbmcgQW9ib25nZGEuTmV0!5e0!3m2!1sen!2s!4v1648729377432!5m2!1sen!2s"
            width="100%" height="800" style="border:0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </footer>
    </div>
</body>

</html>